.add-btn-icon-style{
	width: 56rpx;
	height: 56rpx;
	border-radius: 50%;
}
.right-bottom-add-cart-block {
	bottom: 10rpx;
}
.bottom-style-gongyingshangmendian .right-bottom-add-cart-block,
.bottom-style-classpage .right-bottom-add-cart-block,
.bottom-style-vip .right-bottom-add-cart-block{
	bottom: 6rpx;
}
